In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\admin\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\admin\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\admin\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
#Lets first connect to the driver-
driver=webdriver.Chrome(r"C:\Users\admin\Downloads\Compressed\chromedriver_win32\chromedriver.exe")

In [4]:
#lets first connect to the driver-
driver=webdriver.Chrome(r"chromedriver.exe")

In [5]:
#Opening the naukari page on automated chrome browser
driver.get("https://www.naukri.com/")

In [6]:
#entering designation and location as required in the question-

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [7]:
#Absolute Path- In this link there is Single slash.
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi')

In [8]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [19]:
checkbox=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]")
checkbox.click()

In [24]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [21]:
# scraping Job title from the given page, it is relative XPATH it is used to fetch more then one job
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
                                   
# scraping Company name from the given page
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

# scraping Job Experience from the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [22]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [23]:
# creating the dataframe from above data-
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Data Scientist - NLP (looking For early joiners),"Temp. WFH - Pune, Chennai, Bangalore/Bengaluru",Wipro,4-9 Yrs
1,Data Scientist Iii,Bangalore/Bengaluru,Walmart,4-7 Yrs
2,Data Scientist (Mlops) Iii,Bangalore/Bengaluru,Walmart,4-7 Yrs
3,Data Scientist,Bangalore/Bengaluru,Infosys,3-5 Yrs
4,Weather and Climate Data Scientist,Bangalore/Bengaluru,Shell Pvt Ltd,5-12 Yrs
5,Analyst Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
6,Analyst Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
7,Data Scientist - Supply Chain,Bangalore/Bengaluru,Cargill,3-5 Yrs
8,Data Scientist/Sr. Data Scientist,Bangalore/Bengaluru,Synechron,5-10 Yrs
9,Machine Learning Engineer II,Bangalore/Bengaluru,Swiggy,3-4 Yrs