In [53]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\admin\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\admin\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: outcome in c:\users\admin\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [56]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Now we will download the WebDriver for the Web Browser.Steps for download are-1.Check the version of your browser. 2.go to the link
https://chromedriver.chromium.org/downloads 3.Download the webdriver for your version of your browser.

In [57]:
#Let first connect to the driver-
driver=webdriver.Chrome(r"C:\Users\admin\Downloads\Compressed\chromedriver_win32\chromedriver.exe")

In [58]:
#les first connect to the driver-
driver=webdriver.Chrome(r"chromedriver.exe")

In [59]:
#opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [60]:
#entering designation and location as required in the question-

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [61]:
#Absolute Path- In this link there is Single slash.
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [62]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [63]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [66]:
# scraping Job title from the given page, it is relative XPATH it is used to fetch more then one job
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
                                   
# scraping Company name from the given page
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

# scraping Job Experience from the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [67]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [68]:
len(job_title)

10

In [69]:
job_title

['Data Analyst',
 'Senior Data Analyst - Applied Analytics',
 'Immigration Data Analyst',
 'Data Analyst',
 'Assistant Manager/Manager - Data Analyst - Analytics Firm',
 'Business Analyst/ Sr. Data Analyst',
 'Data Analyst II',
 'Data Analyst',
 'Data Analyst 1',
 'Senior Analyst - Data Management']

In [70]:
len(job_location)

10

In [71]:
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Permanent Remote',
 'Bangalore/Bengaluru, Delhi / NCR',
 'Hybrid - Bangalore/Bengaluru(Whitefield)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [72]:
len(company_name)

10

In [73]:
company_name

['Namdhari Seeds',
 'IBM',
 'Capgemini',
 'Treebo Hotels',
 'Huquo Consulting Pvt. Ltd',
 'Zen Data Shastra Llp',
 'VMware',
 'Optum',
 'Optum',
 'Accenture']

In [74]:
# creating the dataframe from above data-
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Data Analyst,Bangalore/Bengaluru,Namdhari Seeds,0-2 Yrs
1,Senior Data Analyst - Applied Analytics,Bangalore/Bengaluru,IBM,2-6 Yrs
2,Immigration Data Analyst,Bangalore/Bengaluru,Capgemini,4-6 Yrs
3,Data Analyst,Permanent Remote,Treebo Hotels,1-2 Yrs
4,Assistant Manager/Manager - Data Analyst - Ana...,"Bangalore/Bengaluru, Delhi / NCR",Huquo Consulting Pvt. Ltd,6-11 Yrs
5,Business Analyst/ Sr. Data Analyst,Hybrid - Bangalore/Bengaluru(Whitefield),Zen Data Shastra Llp,2-6 Yrs
6,Data Analyst II,Bangalore/Bengaluru,VMware,3-6 Yrs
7,Data Analyst,Bangalore/Bengaluru,Optum,2-5 Yrs
8,Data Analyst 1,Bangalore/Bengaluru,Optum,5-7 Yrs
9,Senior Analyst - Data Management,Bangalore/Bengaluru,Accenture,5-8 Yrs

# How to scrap/fetch the url of any thing like Job Title,Location,Company_name,Experience.

In [76]:
# to fetch the url:-
url=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8228d1c8e9e6bbede8d649db8f358048", element="9ae070f2-db63-49dc-99f1-80efeedbe270")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8228d1c8e9e6bbede8d649db8f358048", element="ac8ca499-3631-42cc-8149-20392d4fd0c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8228d1c8e9e6bbede8d649db8f358048", element="3d4c1e12-4d0b-4cad-b7c4-88dc8a8eef6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8228d1c8e9e6bbede8d649db8f358048", element="89ca30b4-adfd-4447-9223-ef906ffd8dac")>]

In [79]:
for i in url[0:10]: #lets provide range to print only top 4 data
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-data-analyst-namdhari-seeds-bangalore-bengaluru-0-to-2-years-161222008302
https://www.naukri.com/job-listings-senior-data-analyst-applied-analytics-ibm-india-pvt-limited-bangalore-bengaluru-2-to-6-years-161222909174
https://www.naukri.com/job-listings-immigration-data-analyst-capgemini-technology-services-india-limited-bangalore-bengaluru-4-to-6-years-171222907022
https://www.naukri.com/job-listings-data-analyst-treebo-hotels-bangalore-bengaluru-1-to-2-years-161222005737
https://www.naukri.com/job-listings-assistant-manager-manager-data-analyst-analytics-firm-huquo-consulting-pvt-ltd-delhi-ncr-bangalore-bengaluru-6-to-11-years-161222905845
https://www.naukri.com/job-listings-business-analyst-sr-data-analyst-zen-data-shastra-llp-bangalore-bengaluru-2-to-6-years-141222004384
https://www.naukri.com/job-listings-data-analyst-ii-vmware-india-bangalore-bengaluru-3-to-6-years-171222500615
https://www.naukri.com/job-listings-data-analyst-optum-global-solutions-india-private-limited-bangalore-bengaluru-2-to-5-years-161222910682
https://www.naukri.com/job-listings-data-analyst-1-optum-global-solutions-india-private-limited-bangalore-bengaluru-5-to-7-years-161222910038
https://www.naukri.com/job-listings-senior-analyst-data-management-accenture-solutions-pvt-ltd-bangalore-bengaluru-5-to-8-years-161222905013

In [78]:
job_titles=[]

In [ ]:
start=0
end=2
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
    for i in titles:
        job_titles.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="fright fs14 btn-secondary br2"]') # to scrap data from next pages
    next_button.click()
    time.sleep(3)