Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name ,Description and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the

In [4]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\admin\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\admin\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\admin\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [5]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import click

In [6]:
#Lets first connect to the driver-
driver=webdriver.Chrome(r"C:\Users\admin\Downloads\Compressed\chromedriver_win32\chromedriver.exe")

In [7]:
#Lets first connect to the driver-
driver=webdriver.Chrome(r"chromedriver.exe")

In [8]:
#Opening the Jagran Josh Page on automated chrome browser
driver.get("https://www.motor1.com/")

In [9]:
Car_Name=[]
Price=[]

In [10]:
# for scrapping the Car Name

for k in driver.find_elements(By.XPATH,"//h3[@class='subheader']"):
    
    Car_Name.append(k.text)
    
# for scraping the Price

In [11]:
print(len(Car_Name))

51

In [12]:
#Creating the dataframe from above data-
df=pd.DataFrame({'Car_Name':Car_Name})
df

                            Car_Name
0                          Drako GTE
1                      De Tomaso P72
2                  Ferrari LaFerrari
3                      Pagani Huayra
4                       McLaren Elva
5                        Czinger 21C
6                      Ferrari Monza
7                 Gordon Murray T.33
8                  Koenigsegg Gemera
9                        Zenvo TSR-S
10                Hennessey Venom F5
11                   Bentley Bacalar
12     Hispano Suiza Carmen Boulogne
13            Bentley Mulliner Batur
14                      Deus Vayanne
15                       SSC Tuatara
16                       Lotus Evija
17               Aston Martin Vulcan
18                        Delage D12
19                 McLaren Speedtail
20                      Rimac Nevera
21                     Pagani Utopia
22              Pininfarina Battista
23                 Ferrari FXX K Evo
24                Gordon Murray T.50
25              Lamborghini Countach
26          Mercedes-AMG Project One
27               Aston Martin Victor
28       Hennessey Venom F5 Roadster
29                  Koenigsegg Jesko
30             Aston Martin Valkyrie
31         W Motors Lykan Hypersport
32                     McLaren Solus
33         Pagani Huayra Roadster BC
34          Bugatti Chiron Pur Sport
35                  Lamborghini Sian
36                  Koenigsegg CC850
37   Bugatti Chiron Super Sport 300+
38                Lamborghini Veneno
39                    Bugatti Bolide
40                   Bugatti Mistral
41               Pagani Huayra Imola
42                      Bugatti Divo
43               SP Automotive Chaos
44                  Pagani Codalunga
45          Mercedes-Maybach Exelero
46                Bugatti Centodieci
47              Rolls-Royce Sweptail
48          Bugatti La Voiture Noire
49            Rolls-Royce Boat Tail*
50  Most Expensive Cars In The World